version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:80"
    environment:
      - DB_HOST=db
      - DB_DATABASE=quiz_quest
      - DB_USERNAME=quizuser
      - DB_PASSWORD=quizpass123
    depends_on:
      - db
    volumes:
      - .:/var/www/html

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=rootpass123
      - MYSQL_DATABASE=quiz_quest
      - MYSQL_USER=quizuser
      - MYSQL_PASSWORD=quizpass123
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
